/* body start */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  margin: 0;
}
/* root */
:root {
  --primary: "Roboto", sans-serif;
  --accent: "Noto Sans", sans-serif;
  --head-text: "Crimson Text", serif;
  --primary-font-color: rgb(0, 0, 0);
  --primary-400: rgba(196, 226, 255, 1);
  --primary-800: rgb(21, 21, 36);
  --primary-black: rgb(0, 0, 0);
}
/* Top-head */
body {
  margin: 0;
  color: var(--primary-800);
  font-family: var(--accent);
}
/* container-wrap */
.container-wrapper {
  width: 100%;
}
/* header */
.main-header {
  margin: 0 auto;
  padding-inline: 0.5em;
  padding-block: 1em;
  width: 100%;
  border-bottom: 0.1em solid var(--primary-black);
  background-color: var(--primary-400);
}
.flex-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* header-logo */
.header-logo {
  margin-inline: 2em;
}
.header-logo img {
  border-radius: 3em;
  width: max(10em, 5em);
}
/* header-nav-bar */
.header-nav-bar {
  padding: 2em, 0;
  /* background-color: rgb(194, 166, 114); */
}
.header-nav-bar > a {
  margin-right: 1em;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-font-color, black);
}
.header-nav-bar > a:hover {
  border-bottom: 3px solid black;
}

button {
  padding-inline: 2em;
  padding-block: 1em;
  border-radius: 2em;
  border: none;
  background-color: black;
  color: white;
  font-weight: 800;
}
button:hover {
  background-color: white;
  color: black;
}
/* header-finished */
/* main-start */
.top-head {
  margin: 0;
  background-color: var(--primary-400);
  border-bottom: 1px solid black;
  padding-top: 2em;
}
.top-head-split {
  margin-inline: 3em;
  /* background-color: black; */
}
.split-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.split-items {
  max-width: 50%;
}
.top-head-left-content {
  max-width: 40%;
  padding-inline: 2em;
  /* background-color: white; */
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-around;
  align-items:flex-start;
}
.flex-items{
    max-width: 100%;
}
.top-head-left-content > h1 {
  padding: 0 0.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
}
.top-head-left-content > p {
  padding-inline: 0.5em;
  opacity: 0.7;
}
.top-head-left-content > div {
    padding-inline: 0.5em;
}
.top-head-right-content > img{
  width: 100%;
}
/* Top-header-Ends */