html{
    font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.a {
  font-family: "Noto Serif", serif;
}
.b {
  font-weight: 400;
}
.c {
  background-color: rgb(206, 191, 172);
}
.d {
  display: none;
}
.ir {
  visibility: visible;
}
/* div element x y z */
.x {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.y {
  display: block;
}
.z {
  background: rgb(196, 226, 255);
}
/* ab ac ae af ag ah ai aj ak */
.ab{
    z-index: 10;
}
.ac{
    background-color: #C4E2FF;
}
.ae{
    width: 100%;
}
.af{
    border-bottom: 1px solid rgba(41, 41, 41, 4);
}
.ag{
    position: fixed;
}
.ah{
    top: 0;
}
.ai{
    left: 0;
}
.aj{
    right: 0;
}
.ak{
    transition: background-color 300ms linear;
}
/* am an */
.am{
    display: flex;
}
.an{
    justify-content: center;
}
/* svg */
svg{
    height: 1.2rem;
}
/* ao ap aq ar as at au ae  */
.ae{
    width: 100%;
}
.at{
    max-width: 74.5rem;
}
.au{
    min-width: 0;
}
.as{
    margin: 0 4rem;
}
/* av aw am ax */
.av{
    padding: 1.5625rem 0;
}
.aw{
    height: 4.625rem;
}
.am{
    display: flex;
}
.ax{
    flex-direction: row;
}
/* y */
.y{
    display: block;
}